<?xml version="1.0" encoding="ISO-8859-1" ?> 
<web-app>
<servlet>
  <servlet-name>Opinion</servlet-name> 
  <servlet-class>ServletOpinion</servlet-class> 
</servlet>
<servlet-mapping>
  <servlet-name>Opinion</servlet-name> 
  <url-pattern>/opinion</url-pattern> 
</servlet-mapping>
</web-app>
